
/*リセットCSS*/

@import "../css/reset";

/*共通部分*/

html{
  font-size:20px;
}

body{
  font-family: 'Noto Serif','Noto Serif JP', serif;
}

ul{
  margin-bottom: 0;
  margin-top: auto;
}

.section__container{
  padding: 100px 0 70px;
}

.section__title{
  max-width: 1000px;
  color: #282F35;
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  margin: 0 auto 80px;
  padding: 0 20px;

  
  &::after{
    content: "";
    width: 200px;
    height: 5px;
    background-color: #282F35;
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
  }
}

.text-right{
  text-align: end;
}

.text-white{
  color: #FFFFFF;

  &::after{
    background-color: #FFFFFF;
  }
}



.section__inner{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
}

.section__bottom{
  max-width: 1200px;
  font-size: 90px;
  font-weight: bold;
  margin: 0 auto;
  opacity: .05;
}

.btn{
  width: 235px;
  display: block;
  background-color: #F7D43F;
  padding: 19px 0;
  border-radius: 30px;
  margin: 0 auto 70px auto;
  
  &:hover{
    opacity: .7;
    transition: .3 ease;
  }
}

/*Header*/

.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: .3s;

  &__inner{
    padding: 19px 120px;
  }

  &__cat{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo a{
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
  }

  &__navi{
    text-align: center;
  }

  &__navi__list{
    display: flex;
    list-style: none;
  }


  &__navi__item{
    margin-right: 30px;

    &:nth-child(4){
      margin-right: 0;
    }

   a{
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
  }

  }

  .hamburger__btn{
    display: none;
  }

  &.fixed{
    position: fixed;
    background-color: #282f35;
    width: 100%;
    transition: .3s;
  }


}

/* mainFv */

.mainFv{
  position: relative;
  background-image: url(../images/fv-bgi_01@2x.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  
  &__text{
    position: absolute;
    bottom: 177px;
    left: 120px;
    color: #FFFFFF;

    &__en{
      font-size: 70px;
      font-weight: bold;
      margin-bottom: 31px;
    }

    &__jp{
      font-size: 40px;
    }
  }

  .sp__br{
    display: none;
  }
}

/* Concept */

.concept__subtitle{
  text-align: center;
  height: 95px;
  font-size: 30px;
  color: #171717;
  margin-bottom: 60px;
}

.concept__cat{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text{
    width: 440px;
    font-size: 16px;
  }
  &__img{
    width: 440px;
    height: 240px;
    padding-right: 220px;
  }
}

/* Works */

.work-bg{
  background-image: url(../images/works-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
}
.card{
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 1000px;
  margin: 0 auto 80px;
}

.card__item{
  margin-right: 20px;
  background-color: #fff;

  &:nth-child(3){
    margin-right: 0;
  }

  &__text{
    font-size: 16px;

  }
}

/* Service */

.service__list{
  display: flex;  
  list-style: none;
  padding: 0;
}

.service__item{

  width: 33.3%;

   &.bg1{
    background-image: url(../images/service-img01@2x.jpg);
    background-size: cover;
    background-position: center;
  }

  &.bg2{
    background-image: url(../images/service-img02@2x.jpg);
    background-size: cover;
    background-position: center;
  }
  &.bg3{
    background-image: url(../images/sevice-img03@2x.jpg);
    background-size: cover;
    background-position: center;
  }

  a{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 320px;
    transition: .3s;

    &:hover{
      background-color: rgba(40,47,53,.7);
      transition: 0.3s ease;
    }
  }


}


/* contact */

.contact-bg{
  background-image: url(../images/contact-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
}

.contact__text{
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
}

/* レスポンシブデザイン */

@media screen and (max-width:760px){

  /*共通部分 */

  .section__container{
    padding: 100px 0 40px;

  }

  .section__inner{
    padding: 0 15px;
  }

  .section__bottom{
    font-size: 40px;
    padding: 0 15px;
  }

  .btn{
    margin: 0 auto 40px auto;
  }

  .section__title{
    max-width: 1000px;
    color: #282F35;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin: 0 auto 50px;
    padding: 0 15px;
  
    
    &::after{
      content: "";
      width: 100px;
      height: 5px;
      background-color: #282F35;
      margin-left: 30px;
      display: inline-block;
      vertical-align: middle;
    }
  }


.text-right{
  text-align: end;
}

.text-white{
  color: #FFFFFF;

  &::after{
    background-color: #FFFFFF;
  }
}
  
  
  
  /* ヘッダー */ 


.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &__inner{
    padding: 30px 5px 0;
  }

  &__cat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  &__logo a{
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
  }

  &__navi{
    text-align: center;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #282f35;
  }

  &__navi__list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    align-items: center;
  }


  &__navi__item{
    margin: 0 0 30px;

    &:nth-child(4){
      margin-right: 0;
    }

   a{
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
  }

  }

  .hamburger__btn{
    display: block;
    position: absolute;
    top: 30px;
    right: 4vw;
    background-color: transparent;
    border: none;
  }

  .bar__top,
  .bar__mid{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 8px;
  }

  .bar__bottom{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
  }


}



 /* mainFv */


.mainFv{
  position: relative;
  background-image: url(../images/fv-bgi_01@2x.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  
  &__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
    margin: 0 auto;
    width: 100%;
    text-align: center;

    &__en{
      font-size: 37px;
      font-weight: bold;
      margin-bottom: 59px;
    }

    &__jp{
      font-size: 30px;
    }
  }
  .sp__br{
    display: block;
  }
}

  /* Concept */ 

  .concept__subtitle{
    font-size: 20px;
    margin-bottom: 34px;
  }
  
  .concept__cat{
    display: block;
  
    &__text{
      font-size: 16px;
      width: 100%;
      
    }
    &__img{
      height: 150px;
      width: 100%;
      margin: 30px 0 40px 0;
      padding: 0 15px;

      > img{
        width: 100%;
        height: 100%;
      }
    }
  }

  /* works */ 


  .work-bg{
    background-image: url(../images/works-bgi@2x.jpg);
    background-position: center;
    background-size: cover;
  }
  .card{
    display: block;
    width: 100%;
    list-style: none;
    padding: 0;
  }

.card__item{
  background-color: #fff;
  margin: 0 0 30px 0;
  height: 334px;

  &__img{
    width: 100%;

    >img{
      width: 100%;
    }
  }

  &__text{
    font-size: 16px;
    padding: 25px 20px;


  }
}

/* service */ 


.service__list{
  display: block; 
  list-style: none;
  padding: 0;
}

.service__item{

  width: 100%;
  height: 250px;
  margin-bottom: 30px;

  &:nth-child(3){
    margin-bottom: 40px;
  }

  a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 250px;
    transition: .3s;

    &:hover{
      background-color: rgba(40,47,53,.7);
      transition: 0.3s ease;
    }
  }


}



  
}




















