
/*リセットCSS*/

@import "../css/reset";

/*共通部分*/

html{
  font-family: 'Noto Serif','Noto Serif JP', serif;
  font-size:20px;
}

ul{
  margin-bottom: 0;
  margin-top: auto;
}

/*Header*/

.header{
  background-color:#282F35;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &__inner{
    padding: 19px 120px;
  }

  &__cat{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo a{
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
  }

  &__navi{
    text-align: center;
  }

  &__navi__list{
    display: flex;
    list-style: none;
  }


  &__navi__item{
    margin-right: 30px;

    &:nth-child(4){
      margin-right: 0;
    }

   a{
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
  }

  }

  .hamburger__btn{
    display: none;
  }


}

/* mainFv */

.mainFv{
  position: relative;
  background-image: url(../images/fv-bgi_01@2x.jpg);
  background-size: cover;
  height: 100vh;
  
  &__text{
    position: absolute;
    bottom: 177px;
    left: 120px;
    color: #FFFFFF;

    &__en{
      font-size: 70px;
      font-weight: bold;
      margin-bottom: 31px;
    }

    &__jp{
      font-size: 40px;

    }
  }

  
}

















